<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>IceMail</title>
		<link rel="stylesheet" type="text/css" href="app.css">
	</head>
	<body>
		<div id='logo'>IceMail <img src="icemail_logo.png" /></div>
		<div id="app" v-cloak>
			<div id='search_bar'>
				<input type="search" size=50 @keyup.enter="search()" v-model="query" placeholder="search keyword">
				<button @click="search()">Search</button>
				<div id='search_options_toggle' @click="toggleSearchOptions()">Advanced Options</div>
				<div id='search_options'>
					<div id='search_options_fields'>
						<div class='label'>Search these fields:</div>
						<div class='value'>
							<template v-for="field in fields">
								<input type="checkbox" :value='field' v-model="searchFields">{{field}}
							</template>
						</div>

					</div>
					<div id='search_options_time'>
						<div class='label'>Search back this many days:</div>
						<div class='value'><input type="text" size=4 v-model="searchDays">&nbsp;(zero is unlimited)</div>
					</div>
				</div>
			</div>
			<div class='results_stats' v-if="headers">{{ headers.length }} result(s)</div>
			<table class='message_list' v-if="headers.length > 0">
				<th>Subject</th>
				<th>From</th>
				<th>To</th>
				<th>Date</th>
				<tr v-for="(header, index) in headers">
					<td>{{ header.Header.Subject[0] }}</td>
					<td>{{ header.Header.From[0] }}</td>
					<td>{{ header.Header.To[0] }}</td>
					<td>{{ header.Header.Date[0] }}</td>
				</tr>
			</table>
		</div>
		<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="//unpkg.com/vue/dist/vue.js"></script>
		<script src="app.js"></script>
	</body>
</html>
