<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>IceMail</title>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/fontello/css/fontello.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div class="container">
			<div id='logo'>IceMail <a href='https://github.com/porjo/icemail' target='_blank'><img src="img/icemail_logo.png" /></a></div>
			<div id="app" v-clock>
				<router-view></router-view>
			</div>
			<template id='message-view'>
				<div id="message-container"> <!-- root node -->
					<div class="alert alert-danger message-error" v-if="error">
						<span class="close" @click="resetError">&times;</span>
						<strong>Error:</strong>&nbsp;{{error}}
					</div>
					<span @click="goBack()" class='back-link'><span class='icon-left-open-big'></span>Back</span>
					<div class="row" id='message-view-header'>
						<div class="col-md-8">
							<table id='message-header-table'>
								<tr v-if='header.To'>
									<th>To:</th><td>{{header.To | commaList}}</td>
								</tr>
								<tr v-if='header.Cc'>
									<th>Cc:</th><td>{{header.Cc | commaList}}</td>
								</tr>
								<!--
		<template v-if='header.Bcc.length'>
		<strong>Bcc:</strong>&nbsp;{{header.Bcc | commaList}}<br>
		</template>
								-->
								<tr v-if='header.From'>
									<th>From:</th><td>{{header.From[0]}}</td>
								</tr>
								<tr v-if='header.Subject'>
									<th>Subject:</th><td>{{header.Subject[0]}}</td>
								</tr>
							</table>
						</div>
						<div class='col-md-4 email_actions'>
							<button v-if='delivered == ""' class="btn btn-info" @click="sendMsg(id)">Send Mail</button>
							<span class='delivered_date' v-if='delivered != ""'><span class='icon-mail'></span>Email delivered: <span :title='delivered | formatted'>{{delivered | fromNow}}</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<pre class='panel panel-default email_body'>{{rawHeader}}</pre>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<pre class='panel panel-default email_body'>{{body}}</pre>
						</div>
					</div>
				</div>
			</template>
			<template id='message-list'>
				<div id='message-list-container'> <!-- root node -->
					<div class="alert alert-danger message-error" v-if="result.error">
						<span class="close" @click="resetError">&times;</span>
						<strong>Error:</strong>&nbsp;{{result.error}}
					</div>
					<div id='search_bar'>
						<div class="form-inline">
							<input type="search" size=50 class="form-control" @keyup.enter="searchQuery()" v-model="request.query" placeholder="search keyword">
							<button @click="searchQuery()" class="btn btn-primary"><span class='icon-search'></span>Search</button>
						</div>
						<div id='search_options_toggle' @click="toggleSearchOptions()"><span class='icon-cog'></span>Advanced Options</div>
						<div id='search_options' class='panel panel-default'>
							<div class='panel-body'>
								<div class="form-horizontal">
									<div class="form-group">
										<label for="searchFields" class="col-md-6 control-label">Search these fields:</label>
										<div class="col-md-6">
											<template v-for="field in fields">
												<input type="checkbox" :value='field' v-model="request.locations">&nbsp;{{field}}
											</template>
										</div>
									</div>
									<div class="form-group">
										<label for="dateRange" class="col-md-6 control-label">Search back this many days:</label>
										<div class='col-md-6'>
											<input type="text" size=4 v-model="searchDays">&nbsp;(zero is unlimited)
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='no-results' v-if='!result.emails.length'>No results</div>
					<div class='results_bar' v-if='result.emails.length'>
						<div class='results_stats' v-if='result.pages > 1'>
							{{ result.offset + 1 }} to {{ result.offset + result.emails.length }} of {{result.total}} results
						</div>
						<div class='results_stats' v-if='result.pages == 1'>
							{{result.emails.length}} results
						</div>
						<div id='results_limit'>
							<select v-model.number="request.limit" @change="searchQuery()">
								<option selected>10</option>
								<option>20</option>
								<option>50</option>
								<option>100</option>
								<option>200</option>
							</select>
						</div>
					</div>
					<table class='message_list table table-condensed table-striped table-hover' v-if="result.emails.length > 0">
						<thead>
							<tr>
								<th></th>
								<th>Subject</th>
								<th>From</th>
								<th>To</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(email, index) in result.emails" @click="viewMsg(email.ID)">
								<td class='flag_col'><span class='delivered_flag'><i v-if='email.Delivered' class='icon-mail'></i></span></td>
								<td>{{ email.Header.Subject[0] }}</td>
								<td class='fixed_col'>{{ email.Header.From[0] }}</td>
								<td class='fixed_col'>{{ email.Header.To[0] }}</td>
								<td class='fixed_col'><span :title='email.Header.Date[0] | formatted'>{{ email.Header.Date[0] | fromNow }}</span></td>
							</tr>
						</tbody>
					</table>
					<div class='results_bar' v-if='result.emails.length && result.pages > 1'>
						<router-link v-if='result.offset > 0' :to="{name: 'search', query: {query: request.query, page: currentPage()-1}}" id='results-page-back'><span class='icon-left-open-big'><span></router-link>
						<router-link v-if='result.offset + result.emails.length < result.total' :to="{name: 'search', query: {query: request.query, page: currentPage()+1}}" id='results-page-fwd'><span class='icon-right-open-big'><span></router-link>
						<div id='results_pages'>
							<template v-if='result.pages <= 5' v-for="n in result.pages">
								<router-link :to="{name: 'search', query: {query: request.query, page: n}}" :class='pageActive(n)' class='results_page'>{{n}}</router-link>
							</template>
							<template v-if='result.pages > 5'>
								<template v-for="n in 3">
									<router-link :to="{name: 'search', query: {query: request.query, page: n}}" :class='pageActive(n)' class='results_page'>{{n}}</router-link>
								</template>
								...
								<router-link :to="{name: 'search', query: {query: request.query, page: result.pages-1}}" :class='pageActive(result.pages-1)' class='results_page'>{{result.pages-1}}</router-link>
								<router-link :to="{name: 'search', query: {query: request.query, page: result.pages}}" :class='pageActive(result.pages)' class='results_page'>{{result.pages}}</router-link>
							</template>
						</div>
					</div>
				</div>
			</template>
		</div>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.5/vue.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/2.3.0/vue-router.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
